@font-face {
  font-family: "Inter";
  src: url("https://fonts.google.com/specimen/Inter");
}
@font-face {
  font-family: "Lexend Deca";
  src: url("https://fonts.google.com/specimen/Lexend+Deca");
}
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul,
ol,
ul[role=list],
ol[role=list] {
  list-style: none;
  list-style-type: none;
  text-rendering: optimizeLegibility;
}

a,
button {
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--clr-primary-Very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --clr-primary-Very-dark-blue: hsl(233, 47%, 7%);
  --clr-primary-Dark-desaturated-blue: hsl(244, 38%, 16%);
  --clr-primary-Soft-violet: hsl(277, 64%, 61%);
  --clr-neutral-White: hsl(0, 0%, 100%);
  --clr-neutral-Slightly-transparent-white-paragraph: hsl(221, 100%, 96%);
  --clr-neutral-Slightly-transparent-white-headings: hsl(241, 100%, 89%);
  --spc-margin-25: 25px;
  --spc-border-10: 10px;
  --spc-border-17: 17px;
}

.Card {
  width: 328px;
  height: 781px;
  background: var(--clr-primary-Dark-desaturated-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media screen and (min-width: 1440px) {
  .Card {
    height: 28rem;
    width: 69.375rem;
    flex-direction: row;
  }
}
.Card__Hero {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 2.8125rem;
}
@media screen and (min-width: 90rem) {
  .Card__Hero {
    width: 50%;
    height: 27.9375rem;
    order: 1;
  }
}
.Card__Hero--Image {
  height: 100%;
  background: url("/stats-preview-card-component-main/images/image-header-mobile.jpg");
  background-size: cover;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}
@media screen and (min-width: 90rem) {
  .Card__Hero--Image {
    background: url("/stats-preview-card-component-main/images/image-header-desktop.jpg") no-repeat;
    width: 33.75rem;
    background-size: cover;
    height: 27.9375rem;
    border-radius: 0rem 0.625rem 0.625rem 0rem;
  }
}
.Card__Hero--Overlay {
  width: 100%;
  height: 100%;
  background: var(--clr-primary-Soft-violet);
  opacity: 0.4;
  position: absolute;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}
@media screen and (min-width: 1440px) {
  .Card__Hero--Overlay {
    width: 33.75rem;
    height: calc(28rem - 1px);
    float: left;
    border-radius: 0rem 0.625rem 0.625rem 0rem;
  }
}
.Card__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1440px) {
  .Card__Content {
    display: flex;
    flex-direction: column;
    padding: 4.375rem;
    align-items: first baseline;
  }
}
.Card__Content > p {
  width: 15.9375rem;
  font-size: 0.875rem;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--clr-neutral-Slightly-transparent-white-paragraph);
  margin-bottom: 45px;
}
@media screen and (min-width: 1440px) {
  .Card__Content > p {
    font-size: 0.875rem;
    text-align: left;
  }
}
.Card__Title {
  font-size: 1.625rem;
  color: var(--clr-neutral-White);
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 0rem 1.7rem;
  margin-bottom: 1.375rem;
}
@media screen and (min-width: 1440px) {
  .Card__Title {
    font-size: 2.25rem;
    padding: 0rem 0rem;
    text-align: start;
  }
}
.Card__Title span {
  color: var(--clr-primary-Soft-violet);
}
.Card__StatsFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.0625rem;
}
@media screen and (min-width: 1440px) {
  .Card__StatsFlex {
    flex-direction: row;
    gap: 4.0625rem;
  }
}
.Card__Stat {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media screen and (min-width: 90rem) {
  .Card__Stat {
    gap: 0.9375rem;
    text-align: start;
  }
}
.Card__Stat--Number {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: var(--clr-neutral-Slightly-transparent-white-headings);
}
.Card__Stat--Name {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--clr-neutral-Slightly-transparent-white-paragraph);
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */